/* Birdbox Live Stream Custom Styles */

.stream-container {
	max-width: 100%;
	margin: 20px auto;
}

.stream-container img {
	max-width: 100%;
	height: auto;
}

.footer {
	position: static;
	width: 100%;
	padding: 1rem;
	background-color: #f8f9fa;
	margin-top: 40px;
}

#sensorDataTable td:first-child {
    text-align: left;
}
#sensorDataTable td:last-child {
    text-align: right;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.active:focus, .navbar-nav .nav-link.active:visited {
    background: none !important;
    color: #0d6efd !important; /* Bootstrap primary blue */
    border-radius: 0;
    font-weight: 600;
    box-shadow: none;
    text-decoration: underline !important;
}

.navbar-nav .nav-link.active:hover {
    color: #0b5ed7 !important;
    text-decoration: underline !important;
}